<!-- Start onova_about_service section -->
<section class="onova_about_service onova_about_service_1 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="onova_left_box">
                    <div class="service_box about_service_box hb_1 wow slideInUp" data-wow-delay="0.1s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_6.png" alt="">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_6.1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h4>Data Analysis</h4>
                                <p>End-to-end Data Strategy Consulting & Implementation</p>
                            </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_2 wow slideInUp" data-wow-delay="0.3s">
                        <div class="overlay">
                            <div class="service_icon">
                                <img class="icon-theme" src="{{relative_url}}/assets/images/icon_7.png" alt="">
                                <img class="icon-white" src="{{relative_url}}/assets/images/icon_7.1.png" alt="">
                            </div>
                            <div class="service_info">
                                <h4>Cloud Data Warehousing</h4>
                                <p>All Companies are Data Companies. Is your data stored in the most efficient format possible?</p>
                            </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_3 wow slideInUp" data-wow-delay="0.6s">
                        <div class="overlay">
                        <div class="service_icon">
                            <img class="icon-theme" src="{{relative_url}}/assets/images/icon_8.png" alt="">
                            <img class="icon-white" src="{{relative_url}}/assets/images/icon_8.1.png" alt="">
                        </div>
                        <div class="service_info">
                            <h4>Data Pipelines and Transformations</h4>
                            <p>We have experience building state-of-the-art data pipelines moving petabytes of data with tens of thousands of concurrent transformations. We can help your data scale. </p>
                        </div>
                        </div>
                    </div>
                    <div class="service_box about_service_box hb_4 wow slideInUp" data-wow-delay="0.9s">
                        <div class="overlay">
                        <div class="service_icon">
                            <img class="icon-theme" src="{{relative_url}}/assets/images/icon_9.png" alt="">
                            <img class="icon-white" src="{{relative_url}}/assets/images/icon_9.1.png" alt="">
                        </div>
                        <div class="service_info">
                            <h4>AI Consultation and Implementation</h4>
                            <p>Artificial Intelligence can achieve more in less time. Is your business reaching its potential? Achieve the impossible with the power of AI</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div id= "about-anchor" class="onova_right_box">
                    <div class="about_right_content onova_content">
                        <span class="about_span">Let's discuss your data goals.</span>
                        <h2>Want to take your data to the next level? Let's discuss your data goals.</h2>
                        <div class="">
                            <p>We're a team of senior data engineers with several years of experience in Big Tech (Apple, Google, Facebook)</p>
                            <p>We've been at the cutting-edge of the industry for many years. Our breadth of experience gives us a unique vantage point into the data landscape.</p>
                            <p>Evolve your data ecosystem from archaic and cumbersome to a modern, advanced, self-service process. Make your data work for you!.</p>
                        </div>
                    </div>
                    <div class="onova_button">
                        <a href="{{relative_url}}/about" class="onova_btn about_btn">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_about_service section -->