<!-- Start onova_footer_widget area -->
<section class="onova_footer_widget footer_widget_1 bg_image footer_widget_3" style="background-image: url({{relative_url}}/assets/images/footer_bg.jpg);">
    <div class="onova_overlay"></div>
    <div class="container">
        <div class="widget_area widget_area_2">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget_box widget_box_1">
                        <div class="footer_title">
                            <div class="df-logo-text">
                                DATAFLUENT
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget_box widget_box_1">
                        <div class="footer_title">
                            <h5>Services</h5>
                        </div>
                        <div class="footer_widget_list">
                            <ul class="widget_list">
                                <li><a href="#">Data Analysis</a></li>
                                <li><a href="#">Cloud Data Warehousing</a></li>
                                <li><a href="#">Data Pipelines and Transformations</a></li>
                                <li><a href="#">AI Implementation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget_box widget_box_1">
                        <div class="footer_title">
                            <h5>Contact</h5>
                        </div>
                        <div class="footer_widget_list">
                            <ul class="widget_list">
                                <li><a href="#">admin@fluentindata.com</a></li>
                                <li><a href="#">fluentindata.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_footer_widget area -->
<!-- Start onova_footer area -->
<footer class="onova_footer onova_footer_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="copyright_text">
                    <p>Copyright By @datafluent - 2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End onova_footer area -->