<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/grid.png' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">We're a team of senior data engineers with several years of experience in Big Tech (Apple, Google, Facebook)</h2>
      <p class="subtitle subtitle--light">We've been on the cutting-edge of the industry. Our breadth of experience gives us a unique perspective into the latest in data technology. Evolve your data ecosystem from archaic and cumbersome to a modern, advanced, self-service process. Make your data work for you!</p>
      <a href="#" class="cta button--fill contact-trigger js-contact">How can we help you?</a>
    </div>
  </div>
</section>